*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
.container {
  display: table;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.grider1 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 7.852564102564102%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 8.328993055555555%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .grider1,
.grider1 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 16.185897435897438%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 17.138504941239315%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .grider1,
.grider1 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.grider2 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 16.185897435897438%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 17.138504941239315%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .grider2,
.grider2 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 32.8525641025641%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 34.75752871260684%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .grider2,
.grider2 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.box-meta,
.grider3,
.sidebar {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 24.519230769230766%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 25.94801682692308%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .box-meta,
  .grider3,
  .sidebar,
.box-meta,
.grider3,
.sidebar {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 49.519230769230774%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 52.37655248397436%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .box-meta,
  .grider3,
  .sidebar,
.box-meta,
.grider3,
.sidebar {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.grider4 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 32.8525641025641%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 34.75752871260684%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .grider4,
.grider4 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
}
.grider6,
.code-example {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 49.519230769230774%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 52.37655248397436%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .grider6,
  .code-example,
.grider6,
.code-example {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .grider6,
  .code-example,
.grider6,
.code-example {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
.box-logo,
.content {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 74.51923076923077%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 78.80508814102564%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .box-logo,
  .content,
.box-logo,
.content {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 880px) {
  .box-logo,
  .box-meta {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (min-width: 581px) and (max-width: 880px) {
  .sidebar {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 41.18589743589744%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 43.56704059829061%;
    *margin: 0 0.24025941506410256%;
  }
  .content {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 57.85256410256411%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 61.186064369658126%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.btn-github,
.btn-download,
.btn-download-featured {
  display: inline-block;
  padding: 0.7em 1.6em;
  margin: 0 0.2em;
  text-decoration: none;
  color: #323232;
  font-size: 1.2em;
  -webkit-border-radius: 10em;
  border-radius: 10em;
}
.btn-download,
.btn-download-featured {
  background: #24bb64;
  color: #fff;
}
.btn-download:hover,
.btn-download-featured:hover {
  background: #21ac5c;
}
body {
  background: #e84744;
  font-family: 'Arial', helvetica, sans-serif;
  font-size: 62.5%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header {
  background: #fff;
}
@media (max-width: 880px) {
  header {
    text-align: center;
  }
}
@media (max-width: 880px) {
}
.box-meta {
  padding-top: 2.8em;
  text-align: right;
}
@media (max-width: 880px) {
  .box-meta {
    text-align: center;
    padding: 0 0 2em 0;
  }
}
.box-featured {
  padding-bottom: 3em;
  text-align: center;
}
.btn-github {
  background: #eee;
}
.btn-github:hover {
  background: #ddd;
}
.btn-download-featured {
  font-size: 1.8em;
}
.logo {
  color: #e84744;
  font-size: 2.4em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -0.05em;
}
.logo:hover {
  color: #ed6c69;
}
.description {
  color: #bbb;
  font-size: 0.6em;
  font-weight: normal;
}
.plus {
  color: #e84744;
}
.section-demo {
  margin: 2em 0 8em 0;
}
.container-demo:hover > div {
  background: rgba(229,45,41,0.9);
}
.container-demo > div {
  background: rgba(229,45,41,0.6);
  padding: 1.8em 2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}
.section-why {
  background: #fff;
  padding-bottom: 4em;
}
#downloadLabel {
  text-align: center;
  color: #eee;
}
h2 {
  color: #323232;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-align: center;
}
h3 {
  font-size: 1.6em;
}
.highlight {
  color: #e84744;
}
.intro-text {
  color: #fff;
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: lowercase;
  width: 70%;
  margin: 1em auto 0.5em auto;
}
pre {
  font-size: 1.4em;
}
p {
  font-size: 1.6em;
  color: #777;
  font-weight: 100;
  line-height: 2em;
}
p a {
  color: #3b3b3b;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
p code {
  background: #eee;
  color: #333;
  padding: 0.2em 0.3em;
}
.responsive-example {
  padding: 3em 0;
}
.next-demo {
  padding: 2em 0;
}
.container-download {
  text-align: center;
}
.credits {
  color: #fff;
  text-align: center;
  line-height: 1;
}
.credits-link {
  color: #ddd;
}
.credits-link:hover {
  color: #fff;
}
.credits-inspiration {
  font-size: 1.2em;
}
